<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gym_navigator.Properties.Settings.GYMConnectionString"
            connectionString="Data Source=DESKTOP-KJ2NJQE\SQLEXPRESS;Initial Catalog=GYM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>